# Mac files
.DS_Store

# Eclipse project files
/.project
/.pydevproject
/.buildpath
/.settings

# VSCode files
/.vscode
*.code-workspace

# Python files
__pycache__

# SDK files
/sdk/python/build/
/sdk/python/dist/
/sdk/python/*.egg-info
/sdk/python/VERSION
/sdk/javascript/dist/
/sdk/javascript/node_modules/

# Application files
/.env
/env/generated
/env/secret
/data/
/lib/
/docs/_build/

# Formatting related files
/node_modules/

# External libraries
/bin/
/charts/

# Extra files
/tmp/
*.log
.aider*
.docs-index
