# Common

ZIMAGI_SECRET_KEY=20181105

ZIMAGI_EMAIL_HOST=
ZIMAGI_EMAIL_HOST_USER=
ZIMAGI_EMAIL_HOST_PASSWORD=
ZIMAGI_EMAIL_PORT=587
ZIMAGI_EMAIL_USE_TLS=true
ZIMAGI_EMAIL_SUBJECT_PREFIX='<zimagi test> '

ZIMAGI_GITHUB_USER=
ZIMAGI_GITHUB_TOKEN=
ZIMAGI_GITHUB_ORG=

ZIMAGI_DEFAULT_MODULES='[]'

# Client

ZIMAGI_CLIENT_CACHE_LIFETIME=60

# AI

OPENROUTER_API_KEY=
